markdown-grid-tables
markdown-exec
mkdocs-badges
mkdocs-awesome-pages-plugin
mkdocs-mermaid2-plugin
mkdocs-table-reader-plugin
mkdocs-jupyter
mkdocs-glightbox
pymdown-extensions
mkdocs-include-markdown-plugin
mkdocs-minify-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-render-swagger-plugin
mkdocs-pdf
neoteroi-mkdocs
termynal
matplotlib
matplotlib_venn
numpy
pandas
scikit-learn
seaborn
tabulate
graphviz